@font-face {
  font-family: Oswald;
  src: url('./Oswald-Bold.ttf');
}

@font-face {
  font-family: 阿里妈妈数黑体;
  src: url('./Alimama_ShuHeiTi_Bold.ttf');
}

@font-face {
  font-family: SOURCEHANSANSCN;
  src: url('./SOURCEHANSANSCN-REGULAR.OTF');
}